**/__pycache__/
.hypothesis/*

# Third party packages
ThirdParty/*
!ThirdParty/ThirdParty.humble.repos
!ThirdParty/ThirdParty.template.repos

# Sphinx documentation
docs/build/
docs/venv/

tiago_sim/models/yolo11m.pt
tiago_sim/models/yolo11n.pt
