**/__pycache__/
.hypothesis/*

# Third party packages
ThirdParty/*
!ThirdParty/ThirdParty.humble.gazebo_classic.repos
!ThirdParty/ThirdParty.humble.gz_sim.repos
!ThirdParty/ThirdParty.template.repos

log/
.*
!.gitignore/

# Sphinx documentation
docs/build/
docs/venv/
